<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>fiboncci</display-name>
    <servlet-name>fiboncci</servlet-name>
    <servlet-class>com.learning.hello.fiboncci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fiboncci</servlet-name>
    <url-pattern>/fiboncci</url-pattern>
  </servlet-mapping>
  <display-name>websites</display-name>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.learning.hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>helloooo</display-name>
    <servlet-name>helloooo</servlet-name>
    <servlet-class>websites.helloooo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloooo</servlet-name>
    <url-pattern>/helloooo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>password</display-name>
    <servlet-name>password</servlet-name>
    <servlet-class>websites.Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>password</servlet-name>
    <url-pattern>/password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fibonnaci</display-name>
    <servlet-name>Fibonnaci</servlet-name>
    <servlet-class>websites.Fibonnaci</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonnaci</servlet-name>
    <url-pattern>/Fibonnaci</url-pattern>
  </servlet-mapping>
</web-app>